<%
=begin%>
 <h1>welcone to home page</h1>
<%= link_to "Article list", articles_path %> | 
<%= link_to "About page", about_path %> 
<%
=end%>




 

<div id="page-content">
  <div class="jumbotron text-center text-white" style="background-image: url(<%= image_path('jambo-img1.jpg') %>);">
  <h1 class="display-4">Alpha blog</h1>
  <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
  <hr class="my-4">
  <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
  <a class="btn btn-success btn-lg" href="#" role="button">Sign up!</a>
</div>


<footer id="sticky-footer" class="flex-shrink-0 py-4 bg-dark text-white-50">
  <div class="container text-center">
    <small>Copyright &copy; Your Website</small>
  </div>
</footer>